apps-using-smart-connectors/app-sc-using-core/src/test/munit/assertion-munit-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munitext="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:module-using-core="http://www.mulesoft.org/schema/mule/module-using-core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core      http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/munit     http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
        http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/module-using-core http://www.mulesoft.org/schema/mule/module-using-core/current/module-using-core.xsd">

    <munit:config/>

    <munit:test name="testAssertNormalFlow" description="">
        <munit:execution>
            <flow-ref name="assertion-core-mp-flow" />
        </munit:execution>
        <munit:validation>
            <munitext:assert-that expression="#[payload]" is="#[equalTo('lalero')]" message="Oops this should have been false"/>
        </munit:validation>
   </munit:test>

    <munit:test name="testUsingSmartOperation" description="">
        <munit:execution>
            <flow-ref name="assertion-using-smart-connector-flow" />
        </munit:execution>
        <munit:validation>
            <munitext:assert-that expression="#[payload]" is="#[equalTo('Wubba Lubba Dub Dub')]" message="Oops this should have been true"/>
        </munit:validation>
    </munit:test>

    <flow name="assertion-core-mp-flow">
        <set-payload value="#['lalero']"/>
    </flow>

    <flow name="assertion-using-smart-connector-flow">
        <module-using-core:set-payload-hardcoded/>
    </flow>
</mule>
