apps-using-smart-connectors/app-sc-using-core-FAILS-WITH-PARENT-POM/src/test/munit/assertion-munit-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munitext="http://www.mulesoft.org/schema/mule/munit-tools"

      xmlns:module-using-core="http://www.mulesoft.org/schema/mule/module-using-core"


      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core      http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/munit     http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
        http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd

        http://www.mulesoft.org/schema/mule/module-using-core http://www.mulesoft.org/schema/mule/module-using-core/current/module-using-core.xsd">

    <munit:config/>

    <munit:test name="testAssertNormalFlow" description="">
        <flow-ref name="assertion-core-mp-flow" />
        <munitext:assert-that expression="#[payload]" is="#[equalTo('lalero')]" message="Oops this should have been false"/>
   </munit:test>

    <munit:test name="testUsingSmartOperation" description="">
        <flow-ref name="assertion-using-smart-connector-flow" />
        <munitext:assert-that expression="#[payload]" is="#[equalTo('Wubba Lubba Dub Dub')]" message="Oops this should have been true"/>
    </munit:test>

    <flow name="assertion-core-mp-flow">
        <set-payload value="#['lalero']"/>
    </flow>

    <flow name="assertion-using-smart-connector-flow">
        <module-using-core:set-payload-hardcoded/>
    </flow>
</mule>
