apps-using-smart-connectors/app-sc-using-java/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:module-using-java="http://www.mulesoft.org/schema/mule/module-using-java"
	  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	        http://www.mulesoft.org/schema/mule/module-using-java http://www.mulesoft.org/schema/mule/module-using-java/current/mule-module-using-java.xsd">

	<flow name="static-invoke-flow">
		<module-using-java:invoke-static-method/>
	</flow>

	<flow name="invoke-flow">
		<module-using-java:invoke-method instance="#[vars.instance]"/>
	</flow>
	

</mule>
